@inject IJSRuntime JsRuntime 
@inject NavigationManager NavigationManager

<div class="mb-2 w-full overflow-auto rounded-md border p-3 shadow">
    <table class="border-separate border-spacing-2">
        <tr >
            <th></th>@*Empty cell above the participant names*@

            @foreach (var showtime in OrderedShowtimes)
            {
                <th class="max-w-48 min-w-48">
                    <ResultCard Event="Event" Showtime="showtime" Desktop="true" IsHost="IsHost"></ResultCard>
                    </th>
            }
        </tr>

        @foreach (var participant in Event.Participants ?? new List<Participant>())
        {
            <tr>
                <td>
                    <div class="flex gap-1 rounded p-5 shadow-md w-50">
                        <div class="flex">
                            @if (IsHost && participant.Id != 0)
                        {
                            <button onclick="@(async () => { await OnDeleteParticipant.InvokeAsync(participant); })">
                                <DeleteIcon Class="stroke-error p-1 rounded-full hover:bg-error hover:bg-opacity-25 " Size="28"/>
                            </button>
                        }
                        @if (!string.IsNullOrEmpty(participant.Note))
                        {

                            <div class="relative flex items-center">
                                <NoteIcon Class="stroke-black peer hover:bg-gray-200 rounded-full p-1" Size="28"/>
                                <div class="peer-hover:visible invisible absolute translate-x-8 -translate-y-20 transform rounded border border-gray-800 bg-gray-100 p-3 opacity-0 peer-hover:opacity-100 shadow-md z-5 bg-light-gray min-w-40 max-w-80 text-wrap">
                                    <p class="font-bold">@participant.Nickname's note</p>
                                    @if (!string.IsNullOrEmpty(participant.Note))
                                    {
                                        <p >@participant.Note</p>
                                    }
                                </div>
                            </div>

                        }
                        </div>
                        <p class="truncate ...">
                            @participant.Nickname
                        </p>

                    </div>

                </td>
                @foreach (var showtime in OrderedShowtimes)
                {
                    var vote = participant.VotedFor.FirstOrDefault(v => v.ShowtimeId == showtime.Id) 
                               ?? new ParticipantVote { SelectedOption = Event.DefaultSelectOption, SelectedOptionId = Event.DefaultSelectOptionId};
                    <td >
                        <div class="h-16 flex items-center justify-center bg-@(vote.SelectedOption.Color) rounded border border-gray-400 p-5 shadow-md">
                            @if (vote.SelectedOptionId != Event.DefaultSelectOptionId)
                            {
                                <div class="h-8 w-8 items-center justify-center gap-2 rounded-full bg-white">
                                    <SingleCheckIcon Class="@("stroke-" + participant.VotedFor.First(v => v.ShowtimeId == showtime.Id).SelectedOption.Color)"/>
                                </div>
                            }
                        </div>
                    </td>
                }
            </tr>
        }
    </table>
</div>

@code {

    [Parameter] public required JoinEvent Event { get; set; }

    [Parameter] public required bool IsHost { get; set; }
    
    [Parameter]
    public required List<Showtime> OrderedShowtimes { get; set; }
    
    [Parameter]
    public required EventCallback<Participant> OnDeleteParticipant { get; set; }
    
    
}
