@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject IKinoJoinHttpClient KinoJoinHttpClient
@if (AlreadyAnswered)
{
    <p class="text-xl font-semibold text-green-700">Du har allerede indsendt et svar på dette event</p>
}
else if (!_answerSaved)
{
    <EditForm class="w-full md:w-80 space-y-4" Model="@_participant" >
        <h3 class="font-bold">Dine oplysninger</h3>
        <InputText class="w-full border p-2 rounded-md" @bind-Value="@_participant.Nickname"  placeholder="Indtast dit navn" required />
        <InputText class="w-full border p-2 rounded-md" @bind-Value="@_participant.Email" placeholder="Skriv din email (valgfrit)" type="email"/>
        <div>
            <InputTextArea class="h-32 w-full resize-none border p-2 rounded-md" @bind-Value="@_participant.Note" placeholder="Note (valgfrit)"/>
        </div>
        <button class="rounded-full bg-primary hover:bg-primary-dark  p-2 text-white" @onclick="@(async () => { await SaveParticipantAnswer(false, false); })" type="submit">
            Send svar
        </button>
    </EditForm>
}

@if (_infoMessage is not null)
{
    if (_answerSaved)
    {
        <p class="text-green-700 text-4xl">@_infoMessage</p>
    }
    else
    {
        <p class="text-red-700 text-4xl">@_infoMessage</p>
    }
}

<dialog class="p-5 rounded " id="NoShowtimesDialog">
    <div class="flex flex-col gap-4 items-end text-center">
         <h4 class="text-xl font-bold w-full">Obs! Du har ikke valgt nogen tider</h4>
         <h4 class=" font-bold">Vil du indsende et tomt svar, der viser du ikke kan nogen tider?</h4>
        <div class="flex  gap-1">
            <button class="bg-error rounded-full p-3 py-0.5 w-16 text-white hover:bg-error-dark font-label" @onclick="@(async () => { await JsRuntime.InvokeVoidAsync("customFunctions.hideDialog", "NoShowtimesDialog");})">Nej</button>
            <button class="bg-success rounded-full p-3 py-0.5 w-16 text-white hover:bg-success-dark font-label" @onclick="@(async () => {await SaveParticipantAnswer(true, false); await JsRuntime.InvokeVoidAsync("customFunctions.hideDialog", "NoShowtimesDialog"); })">Ja</button>
        </div>
    </div>
</dialog>

<dialog id="same-name-dialog" class="rounded p-4">
    <h4 class="font-bold">Der er allerede en deltager med dette navn</h4>
    <h4 class="font-bold">Ønsker du at sende et nyt svar i samme navn?</h4>
    <div class="inline-flex space-x-2">
        <button class="rounded-full bg-success p-2 text-white hover:bg-success" @onclick="@(async () => { await SaveParticipantAnswer(true, true); await JsRuntime.InvokeVoidAsync("customFunctions.hideDialog", "same-name-dialog"); })">Ja</button>
        <button class="rounded-full bg-error p-2 text-white hover:bg-error" @onclick="@(async () => { await JsRuntime.InvokeVoidAsync("customFunctions.hideDialog", "same-name-dialog"); })">Nej</button>
    </div>
</dialog>

@code {

    [Parameter] public bool AlreadyAnswered { get; set; }

    [Parameter] public JoinEvent? Event { get; set; }

    private bool _answerSaved { get; set; }

    [Parameter] public string? Nickname { get; set; }

    [Parameter] public EventCallback<string?> NicknameChanged { get; set; }

    [Parameter] public ICollection<ParticipantVote> VotedFor { get; set; } = [];

    [Parameter] public string LoggedInUserId { get; set; }

    [Parameter] public EventCallback<Participant> OnAnswerSaved { get; set; }

    private Participant _participant = new Participant();

    private string? _infoMessage;

    private bool _confirmSubmit;

    protected override void OnInitialized()
    {
        _participant.Nickname = Nickname;
    }

    private async Task SaveParticipantAnswer(bool confirmed, bool sameNameConfirmed)
    {
        if (!confirmed)
        {
            _infoMessage = "";
            if (_participant.Nickname is null or "")
            {
                _infoMessage = "Indtast venligst et navn";
                return;
            }

            if (VotedFor.All(v => v.SelectedOptionId == Event.DefaultSelectOptionId))
            {
               await JsRuntime.InvokeVoidAsync("customFunctions.showDialog", "NoShowtimesDialog");
               return;
            }
        }

        if (!sameNameConfirmed)
        {
            if (Event.Participants is not null && Event.Participants.Any(p => p.Nickname == _participant.Nickname))
            {
                await JsRuntime.InvokeVoidAsync("customFunctions.showDialog", "same-name-dialog");
                return;
            }
        }


        if (_participant.Email?.Trim() == "") _participant.Email = null;
        if (_participant.Email != null)
        {
            if (Event.Participants is not null && Event.Participants.Any(p => p.Email == _participant.Email))
            {
                _infoMessage = "Du har allerede svaret";
                return;
            }
        }
        
        _participant.AuthId = LoggedInUserId;
        _participant.VotedFor = VotedFor;
        
        Event.Participants.Add(_participant);


        var response = await KinoJoinHttpClient.PutJoinEventAsync(Event);
        if (response.IsSuccessStatusCode)
        {
            _infoMessage = "Dit svar er registreret";
            _answerSaved = true;
            _participant.Id = int.Parse(await response.Content.ReadAsStringAsync());
            await OnAnswerSaved.InvokeAsync(_participant);

            StateHasChanged();
        }
        else
        {
            _infoMessage = "Noget gik galt. Prøv igen.";
        }
    }

}