<style>
    .empty-showtime {
        background-image: repeating-linear-gradient(
            +45deg,
            #ffffff, /* Lighter shade of gray for the streak */
            #ffffff 10px,
            #d5d5d5 10px, /* Darker shade of gray for the space between streaks */
            #d5d5d5 20px
        );
    }
</style>

<div class="mb-2">
    <!-- CinemaLocation -->
    <h3 id="@cinema.Id" class="text-xl font-bold mb-2.5">@cinema.Name</h3>
</div>
<Virtualize Items="showtimesByVersionTagList" Context="showtimesByVersionTag" OverscanCount="5">
    <ItemContent>
        @{ var versionTag = showtimesByVersionTag.First().VersionTag; }
        <div class="mb-4 max-w-screen-md">
            <!-- Version -->
            <div class="w-fit">
                <p class="bg-gray-200 px-2 py-1 font-label">@versionTag.Type</p>
            </div>
            <!-- Showtimes -->
            <div class="overflow-x-auto">
                <table class="border-collapse">
                    <tr>
                        @{
                            // Determine the start and end dates of the interval
                            var startDate = Showtimes.Min(s => s.Playtime.StartTime.ToLocalTime());
                            var endDate = Showtimes.Max(s => s.Playtime.StartTime.ToLocalTime());

                            var latestDateForSpecificCinemaVersion = showtimesByVersionTag.Max(s => s.Playtime.StartTime.ToLocalTime().Date);

                            // Loop through each date in the interval
                            for (var date = startDate.Date; date <= endDate.Date && date <= latestDateForSpecificCinemaVersion.Date; date = date.AddDays(1))
                            {
                                <th class="w-10 overflow-hidden text-ellipsis whitespace-nowrap border-b border-gray-200 p-2 text-center align-top">@CaptitalizeStart(date.ToString("ddd, dd/MM").Replace('.', '/'))</th>
                            }
                        }
                    </tr>
                    <tr>
                        <!-- Create table data for each showtime within the grouped date -->
                        @for (var date = startDate.Date; date <= endDate.Date && date <= latestDateForSpecificCinemaVersion.Date; date = date.AddDays(1))
                        {
                            var localDate = date;
                            //Check if it exists if not, else
                            if (showtimesByVersionTag.Any(s => s.Playtime.StartTime.ToLocalTime().Date == localDate))
                            {
                                var dateColumn = showtimesByVersionTag.Where(s => s.Playtime.StartTime.ToLocalTime().Date == localDate).ToList();
                                <td class="p-2 align-top">
                                    <Virtualize Items="dateColumn" Context="showtime">
                                        <ItemContent>
                                            @{ var vote = Votes.First(v => v.ShowtimeId == showtime.Id); }
                                            <div id="@showtime.Id" class="w-24 h-16 max-h-16 p-1 mb-1 flex flex-col items-center justify-center cursor-pointer select-none rounded shadow-inset bg-@vote.SelectedOption.Color hover:border hover:border-gray-300" value="@showtime.Playtime.StartTime.ToLocalTime()" @onclick="@(() => HandleShowtimeClick(vote))">
                                                <div class="mb-1 text-center text-sm line-clamp-1">@showtime.Room.Name</div>
                                                <div class="text-lg font-bold">@showtime.Playtime.StartTime.ToLocalTime().ToString("HH:mm", CultureInfo.InvariantCulture)</div> <!-- showtime-time -->
                                            </div>
                                        </ItemContent>
                                        <Placeholder>
                                            <!-- empty-showtime -->
                                            <td class="p-2 align-top">
                                                <div class="mb-1 h-16 max-h-16 w-24 rounded p-1 shadow-inset empty-showtime">
                                                </div>
                                            </td>
                                        </Placeholder>
                                    </Virtualize>
                                </td>
                            }
                            else
                            {
                                <!-- empty-showtime -->
                                <td class="p-2 align-top">
                                    <div class="mb-1 h-16 max-h-16 w-24 rounded p-1 shadow-inset empty-showtime">
                                    </div>
                                </td>
                            }
                        }
                    </tr>
                </table >
            </div >
        </div>
    </ItemContent>
    <Placeholder>
        <LoadingCircle/>
    </Placeholder>
</Virtualize>

@code {

    [Parameter] public List<Showtime> Showtimes { get; set; }

    [Parameter] public IGrouping<int, Showtime> ShowtimesByCinema { get; set; }

    [Parameter] public IGrouping<int, Showtime> ShowtimesByMovie { get; set; }

    [Parameter] public ICollection<ParticipantVote> Votes { get; set; } = [];

    [Parameter] public List<SelectOption> SelectOptions { get; set; } = [new SelectOption() { VoteOption = "Kan ikke", Color = "gray-200" }, new SelectOption() { VoteOption = "Kan godt", Color = "success" }];

    [Parameter] public EventCallback<ICollection<ParticipantVote>> VotesChanged { get; set; }

    private bool _hasChanged = false;

    private async Task HandleShowtimeClick(ParticipantVote voteToIncrement)
    {
        //find index of select option in order to increment it
        var next = (SelectOptions.FindIndex(
                       s => (s.VoteOption, s.Color) == (voteToIncrement.SelectedOption.VoteOption, voteToIncrement.SelectedOption.Color)) + 1)
                   % SelectOptions.Count;
        voteToIncrement.SelectedOption = SelectOptions[next];
        voteToIncrement.SelectedOptionId = SelectOptions[next].Id;

        await VotesChanged.InvokeAsync(Votes);
        _hasChanged = true;
    }

    protected override bool ShouldRender()
    {
        if (!_hasChanged) return false;
        _hasChanged = false;
        return true;
    }

    private Cinema cinema;
    private List<IGrouping<string, Showtime>> showtimesByVersionTagList;

    protected override void OnInitialized()
    {
        cinema = ShowtimesByCinema.First().Cinema;
        showtimesByVersionTagList = ShowtimesByCinema.GroupBy(s => s.VersionTag.Type).ToList();
    }

    private string CaptitalizeStart(string s)
        => char.ToUpper(s[0]) + s[1..];

}