@inject IJSRuntime JsRuntime

@if (Showtimes.Count == 0)
{
    return;
}

<div class="@(HasAnswered ? "mb-5" : "mb-7") w-fit space-y-1  mt-10  ">
    <p class="font-semibold ">@LegendTitle</p>
    <div class="mb-2 divide-x-2 flex w-fit">
        @{
            var firstOption = true;
        }
        @foreach (var option in SelectOptions)
        {
            <div class="@(firstOption ? "pr-2" : "px-2") ">
                <div class="rounded px-1 shadow-md  bg-@option.Color ">
                    <p>@option.VoteOption</p>
                </div>
            </div>
            firstOption = false;
        }
    </div>
</div>
@if (HasAnswered)
{
    <p class="text-xl font-semibold text-success-darkest mb-5">Du har allerede indsendt et svar på dette event</p>
}
<div class="space-y-5 ">
    @{
            var isFirst = true;
        }
    <Virtualize Items="_showtimesByMovieList" Context="showtimesByMovie" OverscanCount="3">
        <ItemContent>
            @{ var movie = showtimesByMovie.First().Movie; }
            <ShowtimeSelectorHeading ShowDivider="!isFirst" HasAnswered="@HasAnswered" Movie="movie">
                @{ var showtimesByCinemaList = showtimesByMovie.GroupBy(s => s.Cinema.Id).ToList(); }
                <Virtualize Items="showtimesByCinemaList" OverscanCount="8" Context="showtimesByCinema" ItemSize="300">
                    <ItemContent>
                        <CinemaShowtimes Showtimes="Showtimes" HasAnswered="HasAnswered" Votes="Votes" SelectOptions="SelectOptions" VotesChanged="VotesChanged" ShowtimesByCinema="showtimesByCinema" ShowtimesByMovie="showtimesByMovie"/>
                    </ItemContent>
                    <Placeholder>
                        <LoadingCircle/>
                    </Placeholder>
                </Virtualize>
            </ShowtimeSelectorHeading>
            @{ isFirst = false;}
        </ItemContent>
        <Placeholder>
            <LoadingCircle/>
        </Placeholder>
    </Virtualize>
</div>

@if (Showtimes.Count > 0)
{
    <Virtualize Items="MoviesWithOutShowTimes" Context="movie" OverscanCount="5">
        <ItemContent>
            <ShowtimeSelectorHeading Movie="movie">
                <div class="inline-flex items-center justify-center gap-4 rounded bg-gray-300 p-2">
                    <span>Ingen forestillinger fundet for denne film med de valgte filtre</span>
                </div>
            </ShowtimeSelectorHeading>
        </ItemContent>
        <Placeholder>
            <LoadingCircle/>
        </Placeholder>
    </Virtualize>
}


@code {

    [Parameter] public string LegendTitle { get; set; } = "";

    [Parameter] public List<Showtime> Showtimes { get; set; } = [];

    [Parameter] public List<Movie> MoviesWithOutShowTimes { get; set; } = [];

    [Parameter] public ICollection<ParticipantVote> Votes { get; set; } = [];

    [Parameter] public EventCallback<ICollection<ParticipantVote>> VotesChanged { get; set; }

    [Parameter] public required List<SelectOption> SelectOptions { get; set; }
    
    [Parameter] public bool HasAnswered { get; set; }

    private List<IGrouping<int, Showtime>> _showtimesByMovieList = [];

    protected override void OnInitialized()
    {
        _showtimesByMovieList = Showtimes.GroupBy(s => s.Movie.Id).ToList();
    }

}