@inject IJSRuntime JsRuntime

@if (Showtimes.Count == 0)
{
    return;
}

<div class="@(HasAnswered ? "mb-5" : "mb-7") w-fit space-y-1  mt-10  ">
    <p class="font-semibold ">@LegendTitle</p>
    <div class="mb-2 divide-x-2 flex w-fit">
        @{
            var firstOption = true;
        }
        @foreach (var option in SelectOptions)
        {
            <div class="@(firstOption ? "pr-2" : "px-2") ">
                <div class="rounded px-1 shadow-md  bg-@option.Color ">
                    <p>@option.VoteOption</p>
                </div>
            </div>
            firstOption = false;
        }
    </div>
</div>
@if (HasAnswered)
{
    <p class="text-xl font-semibold text-success-darkest mb-5">Du har allerede indsendt et svar på dette event</p>
}
<div class="space-y-5 ">
    @{
        var isFirst = true;
    }
    @foreach (var showtimesByMovie in Showtimes.GroupBy(s => s.Movie.Id))
    {
        var movie = showtimesByMovie.First().Movie;
        <ShowtimeSelectorHeading ShowDivider="!isFirst" HasAnswered="@HasAnswered" Movie="movie">
            @foreach (var showtimesByCinema in showtimesByMovie.GroupBy(s => s.Cinema.Id))
            {
                var cinema = showtimesByCinema.First().Cinema;
                <CinemaShowtimes Showtimes="Showtimes" HasAnswered="HasAnswered" Votes="Votes" SelectOptions="SelectOptions" Cinema="cinema" VotesChanged="VotesChanged" ShowtimesByCinema="showtimesByCinema" ShowtimesByMovie="showtimesByMovie"/>
            }
        </ShowtimeSelectorHeading>
        isFirst = false;
    }
</div>

@if (Showtimes.Count > 0)
{
    foreach (var movie in MoviesWithOutShowTimes)
    {
        <ShowtimeSelectorHeading Movie="movie">
            <div class="inline-flex items-center justify-center gap-4 rounded bg-gray-300 p-2">
                <span>Ingen forestillinger fundet for denne film med de valgte filtre</span>
            </div>
        </ShowtimeSelectorHeading>
    }
}



@code {

    [Parameter] public string LegendTitle { get; set; } = "";

    [Parameter] public List<Showtime> Showtimes { get; set; } = [];

    [Parameter] public List<Movie> MoviesWithOutShowTimes { get; set; } = [];

    [Parameter] public ICollection<ParticipantVote> Votes { get; set; } = [];

    [Parameter] public EventCallback<ICollection<ParticipantVote>> VotesChanged { get; set; }

    //Default options for create page
    [Parameter] public required List<SelectOption> SelectOptions { get; set; }
    
    [Parameter] public bool HasAnswered { get; set; }

}