@page "/filling/{JoinEventId}"
@using Presentation.Client.Services
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject IKinoJoinHttpClient KinoJoinHttpClient
@inject SqidsEncoder<int> SqidsEncoder

<PageTitle>JoinEvent</PageTitle>

@if (_loading)
{
    <div class="flex justify-center">
        <LoadingIndicator/>
    </div>
    return;
}

@if (_joinEvent is null)
{
    <h3>Ingen events fundet</h3>
    <p>Tjek at dit link er korrekt.</p>
    return;
}

@if (_showFirstLoginDialog)
{
    <div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
        <div class="mx-4 mb-40 rounded-lg bg-white p-6 shadow-xl">
            <div class="flex flex-col justify-center space-y-2">
                <h2 class="text-xl font-bold">@_joinEvent!.Host!.Username vil gerne I biografen med dig! Du kan vælge hvilke forestillinger der passer dig bedst.</h2>
                <div class="flex md:items-end md:justify-end">
                    <div class="flex w-full flex-col gap-2 md:w-fit md:flex-row">
                        <button class="btn-white" onclick="@(() => { _showFirstLoginDialog = false; })">Uden login</button>
                        <button class="btn-red" onclick="@(() => { NavigationManager.NavigateToLogin("authentication/login", new InteractiveRequestOptions() { Interaction = InteractionType.SignIn, ReturnUrl = "/filling/" + JoinEventId }); })"> Anvend dit Kino login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="flex justify-center">
    <div class="my-2 flex flex-col gap-2 md:flex-row">
        <div class="w-full rounded bg-gray-50 p-3 shadow-md md:w-fit md:max-w-md">
            <div class="space-y-3">
                <div class="flex flex-row gap-1">
                    @if (_isEditing)
                    {
                        <input class="w-full rounded-full border p-1 md:w-60" type="text" @bind="_joinEvent!.Title"/>
                    }
                    else
                    {
                        <h1 class="text-2xl font-label">@_joinEvent!.Title</h1>
                    }

                    @if (_isHost)
                    {
                        if (_isEditing)
                        {
                            <button class="btn-white" onclick="@(async () => { await UpdateJoinEvent(); _isEditing = false; })">Gem ændringer</button>
                        }
                        else
                        {
                            <button onclick="@(() => { _isEditing = true; })">
                                <img src="Icons/EditIcon.svg" alt="edit" Class="hover:bg-gray-200 rounded p-1"/>
                            </button>
                        }
                    }
                </div>

                @if (_isEditing)
                {
                    <textarea class="w-full rounded-2xl border p-1 md:w-60" type="text" cols="5" placeholder="Beskrivelse"  @bind="_joinEvent.Description"></textarea>
                }
                else
                {
                    if (_joinEvent.Description != "")
                    {
                        <p>@_joinEvent.Description</p>
                        <br/>
                    }
                }

                <div class="flex w-full space-x-1 md:w-60">
                    <span class="font-medium">Svarfrist:</span>
                    @if (_isEditing)
                    {
                        <input class="w-full rounded-2xl border" type="date" placeholder="Deadline" min="@DateTime.Now.Date.ToString("yyyy-MM-dd")" max="@_joinEvent!.Showtimes.Max(s => s.Playtime.StartTime).ToString("yyyy-MM-dd")" @bind="@_deadline"/>
                    }
                    else
                    {
                        <span>
                            @_deadline.ToString("dd. MMM")
                        </span>
                    }
                </div>

                <span class="font-medium">Tidsinterval:</span>
                <span> @_joinEvent.Showtimes.Min(s => s.Playtime.StartTime).ToString("dd. MMM") - @_joinEvent.Showtimes.Max(s => s.Playtime.StartTime).ToString("dd. MMM")</span>
                <br/>
                <a class="btn-white font-label" href="@(NavigationManager.Uri + "#results")">Se Resultater</a>
            </div>
        </div>
        @if (_isHost)
        {
            <div class="w-full rounded border bg-gray-50 p-3 shadow-md space-y-1 md:w-fit md:max-w-md">
                <p class="text-lg font-semibold mb-0.5">Send et link til eventet til dine venner.</p>
                <div class="flex h-8 items-center gap-x-2">
                    <a href="@(_baseUrl + "filling/" + SqidsEncoder.Encode(_joinEvent.Id))" class="text-lg text-blue-600 hover:text-blue-700">
                        @((_baseUrl + "filling/" + SqidsEncoder.Encode(_joinEvent.Id)).Replace("https://", ""))
                    </a>
                    <div class="group">
                        <button class="btn-white min-w-6" onclick="@(async () => { await JsRuntime.InvokeVoidAsync("navigator.clipboard.writeText", _baseUrl + "filling/" + SqidsEncoder.Encode(_joinEvent.Id)); })">
                            <img src="Icons/CopyIcon.svg" alt="copy" class="h-full rounded-full group-hover:invert"/>
                        </button>
                    </div>
                    <button class="btn-black min-w-6 lg:hidden" onclick="@(async () => { await ShareEvent(); })">
                        <img src="Icons/ShareIcon.svg" alt="share" class="h-full"/>
                    </button>
                </div>
            </div>
        }
    </div>
</div>

<ShowtimeSelector HasAnswered="@_currentParticipantAlreadyAnswered" SelectOptions="@_joinEvent.SelectOptions" DefaultSelectOption="@_joinEvent.DefaultSelectOption" Showtimes="@_joinEvent.Showtimes" LegendTitle="Tryk på de tider du kan" ShowtimeChoices="@_currentParticipant.VotedFor" ChoicesChanged="OnVotesChanged"/>

@if (!_currentParticipantAlreadyAnswered)
{
    <div class="flex justify-center">
        <button class="btn-red p-4 text-xl font-bold" @onclick="OpenParticipantInfoDialog">
            Send svar
        </button>
    </div>

    if (_somethingWentWrong)
    {
        <p class="text-4xl text-red-700">Noget gik galt. Prøv igen.</p>
    }
}
else
{
    <p class="text-2xl font-semibold text-success-darkest md:mt-7">Dit svar er registreret</p>
}


<br/>
<br/>


<dialog class="rounded p-5" id="NoShowtimesDialog">
    <div class="flex flex-col items-end gap-4 text-center">
        <h4 class="w-full text-xl font-bold">Obs! Du har ikke valgt nogen tider</h4>
        <h4 class="font-bold">Vil du indsende et tomt svar, der viser du ikke kan nogen tider?</h4>
        <div class="flex gap-1">
            <button class="btn-white" onclick="@(async () => await JsRuntime.InvokeVoidAsync("hideDialog", "NoShowtimesDialog"))">Nej</button>
            <button class="btn-black" onclick="@(async () => { await JsRuntime.InvokeVoidAsync("hideDialog", "NoShowtimesDialog"); await JsRuntime.InvokeVoidAsync("showDialog", "ParticipantInfoDialog"); })">Ja</button>
        </div>
    </div>
</dialog>


<dialog id="ParticipantInfoDialog" class="mx-auto my-12 max-w-lg rounded-lg bg-white p-6 shadow-xl">
    <EditForm Model="@_currentParticipant" OnValidSubmit="@SaveParticipantAnswer" class="w-full space-y-4 md:mt-7 md:w-80">
        <DataAnnotationsValidator/>

        <h3 class="font-bold">Dine oplysninger</h3>
        <div class="text-error">
            <ValidationSummary/>
        </div>
        <InputText class="w-full rounded-full border bg-gray-50 p-2" @bind-Value="@_currentParticipant.Nickname" placeholder="Indtast dit navn" required/>
        @if (_joinEvent.Participants.Any(p => p.Nickname == _currentParticipant.Nickname))
        {
            <p class="text-warning">Bemærk, deltager med samme navn findes allerede</p>
        }
        <InputText class="w-full rounded-full border bg-gray-50 p-2" @bind-Value="@_currentParticipant.Email" placeholder="Skriv din email (valgfrit)" type="email"/>
        @if (_joinEvent.Participants.Any(p => p.Email == _currentParticipant.Email))
        {
            <p class="text-warning">Bemærk, deltager med samme email findes allerede</p>
        }

        <div>
            <InputTextArea class="h-32 w-full resize-none rounded-3xl border bg-gray-50 p-2" @bind-Value="@_currentParticipant.Note" placeholder="Note (valgfrit)"/>
        </div>
        <div class="mt-5 mb-5 flex justify-end space-x-3">
            <button type="button" class="btn-white" onclick="@(async () => await JsRuntime.InvokeVoidAsync("hideDialog", "ParticipantInfoDialog"))">Annuller</button>
            <button type="submit" class="btn-black">Send svar</button>
        </div>
    </EditForm>
</dialog>


<div id="results" class="pt-2"></div>
<JoinEventResults @ref="_joinEventResults" CurrentParticipant="_currentParticipant" JoinEvent="_joinEvent" IsHost="_isHost"/>

@code {
    [Parameter] public required string JoinEventId { get; set; }

    [CascadingParameter] private Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;

    private JoinEvent? _joinEvent;

    private bool _loading = true;

    string _baseUrl = "";

    private bool _currentParticipantAlreadyAnswered;

    private bool _isHost;

    private bool _isEditing;

    private bool _showFirstLoginDialog;

    private DateTime _deadline;

    private bool _isLoggedIn;

    private Participant _currentParticipant = new() { VotedFor = [] };

    private bool _somethingWentWrong;

    private JoinEventResults _joinEventResults = null!;

    protected override async Task OnInitializedAsync()
    {
        _baseUrl = NavigationManager.BaseUri;
        var id = SqidsEncoder.Decode(JoinEventId).FirstOrDefault();
        if (SqidsEncoder.Encode(id) == JoinEventId) //avoid false positives
        {
            _joinEvent = await KinoJoinHttpClient.GetJoinEventAsync(id);
        }
        else
        {
            _joinEvent = null;
        }

        if (_joinEvent is null)
        {
            _loading = false;
            return;
        }

        _currentParticipant.VotedFor = _joinEvent.Showtimes.Select(st =>
            new ParticipantVote
            {
                ShowtimeId = st.Id, SelectedOptionId = _joinEvent.DefaultSelectOptionId, SelectedOption = _joinEvent.DefaultSelectOption
            }).ToList(); // a default vote for each showtime


        //check if user is host
        var userInfo = await UserInfoService.GetUserInfoAsync(AuthenticationStateTask);

        _isLoggedIn = userInfo != null;

        if (_isLoggedIn)
        {
            _currentParticipant.AuthId = userInfo!.Value.authId;
            _isHost = _joinEvent?.Host?.AuthId == _currentParticipant.AuthId;
            _currentParticipant.Nickname = userInfo.Value.name;
            if (_joinEvent!.Participants.Any(p => p.AuthId == _currentParticipant.AuthId))
            {
                _currentParticipantAlreadyAnswered = true;
                _currentParticipant = _joinEvent.Participants.First(p => p.AuthId == _currentParticipant.AuthId);
            }
        }
        else
        {
            _showFirstLoginDialog = true;
            StateHasChanged();
        }

        _deadline = _joinEvent!.Deadline;
        _loading = false;
    }

    private async Task UpdateJoinEvent()
    {
        _joinEvent!.Deadline = _deadline;
        await KinoJoinHttpClient.UpsertJoinEventAsync(_joinEvent);
    }

    private async Task SaveParticipantAnswer()
    {
        await JsRuntime.InvokeVoidAsync("hideDialog", "ParticipantInfoDialog");
        _currentParticipant.VotedFor = _currentParticipant.VotedFor.Where(v => v.SelectedOptionId != _joinEvent!.DefaultSelectOptionId).ToList();
        _joinEvent!.Participants.Add(_currentParticipant);

        var response = await KinoJoinHttpClient.UpsertJoinEventAsync(_joinEvent);
        if (response.IsSuccessStatusCode)
        {
            _currentParticipant.Id = int.Parse(await response.Content.ReadAsStringAsync());
            _currentParticipantAlreadyAnswered = true;
            _joinEventResults.UpdateSorting();

            StateHasChanged();
        }
        else
        {
            _somethingWentWrong = true;
        }
    }

    private void OnVotesChanged(ICollection<ParticipantVote> votes)
    {
        _currentParticipant.VotedFor = votes;
    }

    private async Task ShareEvent()
    {
        var data = new
        {
            title = _joinEvent!.Title,
            text = _joinEvent.Description,
            url = _baseUrl + "filling/" + SqidsEncoder.Encode(_joinEvent.Id)
        };

        await JsRuntime.InvokeVoidAsync("navigator.share", data);
    }

    private async Task OpenParticipantInfoDialog()
    {
        if (_currentParticipant.VotedFor.All(v => v.SelectedOptionId == _joinEvent!.DefaultSelectOptionId))
        {
            await JsRuntime.InvokeVoidAsync("showDialog", "NoShowtimesDialog");
            return;
        }

        await JsRuntime.InvokeVoidAsync("showDialog", "ParticipantInfoDialog");
    }

}