@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject IJoinEventHttpClient JoinEventHttpClient

@page "/JoinCreate/{filterString}"


@if (_loadingPage)
{
    <LoadingTextAndCircle/>
    return;
}

@if (_cinemaIdsToNames.Count == 0 && _movieIdsToNames.Count == 0)
{
    <p>Du skal vælge mindst en film eller biograf som filter</p>
    <button onclick="@(async () => { await JsRuntime.InvokeVoidAsync("history.back"); })">Gå Tilbage</button>
    return;
}


<h1 class="mb-6 text-2xl font-bold leading-tight text-gray-800 md:text-2xl lg:text-3xl text-center">
    Velkommen til KinoJoin - Planlæg dit biograf event her
</h1>

<button style="margin-bottom: 5px;width: 200px;height: 50px;bottom: 3rem; right: 3rem; position: fixed; z-index: 1" @onclick="OpenEventDetailsDialog">Opret Event</button>


@* Dialog where user enters title and other event details *@
<dialog id="eventDetailsDialog" class="mx-auto my-12 max-w-lg rounded-lg bg-white p-6 shadow-xl">
    <form @onsubmit="ValidateAndOpenConfirmationDialog">
        <p class="text-lg font-semibold text-blue-600 mb-0.5">Event Titel</p>
        <input class="mb-2 w-full rounded-md border border-gray-300 px-4 py-2 shadow-sm focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-500 md:w-96"
               type="text" placeholder="Titel"
               @bind="_joinEvent.Title"/>

        <p class="text-lg font-semibold text-blue-600 mb-0.5">Event Beskrivelse</p>
        <textarea class="mb-2 w-full rounded-md border border-gray-300 px-4 py-2 shadow-sm focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-500 md:w-96"
                  placeholder="Beskrivelse (valgfrit)" 
                  @bind="@_joinEvent.Description"></textarea>

        <p class="text-lg font-semibold text-blue-600 mb-0.5">Deadline</p>
        <input class="mb-2 w-full rounded-md border border-gray-300 px-4 py-2 shadow-sm focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-500 md:w-96"
               type="date" placeholder="Deadline" value="@_joinEvent.Deadline.ToLocalTime().ToString("yyyy-MM-dd")" @oninput="@(v => { if (DateTime.TryParse(v.Value?.ToString(), CultureInfo.InvariantCulture, DateTimeStyles.AssumeUniversal, out var parsedDate)) _joinEvent.Deadline = parsedDate; })"/>
        <div class="flex justify-end space-x-3">
            <button type="button" @onclick="@(() => JsRuntime.InvokeVoidAsync("customFunctions.hideDialog", "eventDetailsDialog"))" class="rounded-md bg-red-500 px-4 py-2 text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400">Annuller</button>
            <button type="submit" class="rounded-md bg-green-500 px-4 py-2 text-white hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400">Opret</button>
        </div>
    </form>
</dialog>

@* Dialog to confirm the user is done creating the event *@
<dialog id="eventConfirmDialog" class="mx-auto my-12 max-w-lg rounded-lg bg-white p-6 shadow-xl min-w-96">
    <p class="text-lg font-semibold text-blue-600 mb-0.5">Bekræft oprettelse</p>
    <div class="mb-4 flex items-center">
        <input id="CanAllShowtimes" type="checkbox" @bind="_hostCanAllShowtimes" class="mr-2"/>
        <label for="CanAllShowtimes" class="text-md">
            @(_hostCanAllShowtimes ? "Jeg kan alle valgte tider" : "Jeg ønsker selv at angive tider hvor jeg kan")
        </label>
    </div>
    <div class="flex justify-end space-x-3">
        <button @onclick="@(() => JsRuntime.InvokeVoidAsync("customFunctions.hideDialog", "eventConfirmDialog"))" class="rounded-md bg-red-500 px-4 py-2 text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400">Rediger videre</button>
        <button @onclick="FinishJoinEvent" class="rounded-md bg-green-500 px-4 py-2 text-white hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400">Opret</button>
    </div>
</dialog>

@* Dialog which shows the share link *@
<dialog id="eventShareDialog" class="mx-auto my-12 max-w-lg rounded-lg bg-white p-6 shadow-xl min-w-96">
    <div class="space-y-1">
        <p class="text-lg font-semibold text-blue-600 mb-0.5">Dit event er nu oprettet</p>
        <p class="font-semibold">Send dette link til dine venner</p>
        <div class="flex items-center gap-4">
            <a href="@(_baseUrl + "filling/" + _joinEvent.Id)" class="text-lg text-blue-600 hover:text-blue-700">
                @(_baseUrl + "filling/" + _joinEvent.Id)
            </a>
            <button @onclick="ShareEvent" class="rounded-full bg-blue-400 p-2 text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 30 30">
                    <path d="M 23 3 A 4 4 0 0 0 19 7 A 4 4 0 0 0 19.09375 7.8359375 L 10.011719 12.376953 A 4 4 0 0 0 7 11 A 4 4 0 0 0 3 15 A 4 4 0 0 0 7 19 A 4 4 0 0 0 10.013672 17.625 L 19.089844 22.164062 A 4 4 0 0 0 19 23 A 4 4 0 0 0 23 27 A 4 4 0 0 0 27 23 A 4 4 0 0 0 23 19 A 4 4 0 0 0 19.986328 20.375 L 10.910156 15.835938 A 4 4 0 0 0 11 15 A 4 4 0 0 0 10.90625 14.166016 L 19.988281 9.625 A 4 4 0 0 0 23 11 A 4 4 0 0 0 27 7 A 4 4 0 0 0 23 3 z"></path>
                </svg>
            </button>
        </div>
        @if (!_hostCanAllShowtimes)
        {
            <p>Angiv hvilke tider du selv kan ved at gå ind på linket</p>
        }
    </div>
</dialog>


<div class="flex items-center justify-center">
    <button @onclick="ToggleFilters" class="mb-4 rounded-lg lg:hidden bg-gray-700 px-6 py-2 font-semibold text-white shadow-md transition duration-200 ease-in hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:ring-opacity-50">
        @(_showAllFilters ? "Skjul filtrer" : "Vis alle filtrer")
    </button>
</div>

<div id="ShowAllFilters" class="@(_showAllFilters ? "" : "hidden lg:block")">
    <div class="flex flex-col lg:space-x-4 lg:flex-row">
        <div class="mt-4 lg:mt-0 lg:w-1/3">
            <SearchableCheckboxList IconPath="/Icons/CinemaFilterIcon.svg" FilterTitle="Vælg biograffer" SelectedItems="_selectedCinemas" IdsToLabels="@_cinemaIdsToNames"/>
        </div>
        <div class="lg:w-1/3">
            <SearchableCheckboxList IconPath="Icons/MovieFilterIcon.svg" FilterTitle="Vælg film" SelectedItems="_selectedMovies" IdsToLabels="@_movieIdsToNames"/>
        </div>
        <div class="mt-4 lg:mt-0 lg:w-1/3">
            <SearchableCheckboxList IconPath="Icons/GenreFilterIcon.svg" FilterTitle="Vælg genrer" SelectedItems="_selectedGenres" IdsToLabels="@_genreIdsToNames"/>
        </div>
    </div>

    <div class="flex flex-col space-y-4 mt-4 lg:mt-0 lg:w-1/3">
        <div class="flex flex-wrap justify-start w-full">
            <div class="w-1/2 p-3">
                <div class="rounded bg-gray-100 shadow">
                    <label for="start-date" class="block rounded-t bg-gray-700 text-center text-sm font-medium text-white">Start dato</label>
                    <input id="start-date" type="date" @bind="_startDate" class="mt-1 block w-full rounded-md border-gray-300 bg-gray-100 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"/>
                </div>
            </div>
            <div class="w-1/2 p-3">
                <div class="rounded bg-gray-100 shadow ">
                    <label for="end-date" class="block rounded-t bg-gray-700 text-center text-sm font-medium text-white">Slut dato</label>
                    <input id="end-date" type="date" @bind="_endDate" class="mt-1 block w-full rounded-md border-gray-300 bg-gray-100 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"/>
                </div>
            </div>
        </div>
        <button @onclick="UpdateShowtimeFilters" class="rounded-md border border-transparent bg-gray-700 px-6 py-2 text-base font-medium text-white shadow-sm max-w-40 hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
            Opdater filtrer
        </button>
    </div>
</div>

@if (_loadingShowtimes)
{
    <p>Indlæser spilletider...</p>
    return;
}


@if (_availableShowtimes.Count == 0)
{
    if (_selectedCinemas.Count > 0 || _selectedMovies.Count > 0)
    {
        <p>Der er ingen forestillinger for de valgte filtre</p>
    }
    else
    {
        <p>Du skal vælge mindst en film eller biograf til filteret</p>
    }
}

<ShowtimeSelector Showtimes="@_availableShowtimes" MoviesWithOutShowTimes="@_moviesWithoutShowtimes" Votes="@_availableShowtimeVotes" VotesChanged="OnVoteChange" SelectOptions="_createSelectOptions"/>

<button class="w-14 h-14  md:w-auto md:h-auto  md:px-4 md:py-2 fixed bottom-12 right-12 z-50 shadow-lg rounded-full bg-primary flex items-center justify-center hover:bg-primary-dark" @onclick="OpenEventDetailsDialog">
    <span class="hidden md:block text-white py-1">
        Opret Event
    </span>
    <span class=" translate-x-0.5 -translate-y-0.5 md:hidden ">
        <img src="../Icons/CreateIcon.svg" alt="Opret event" class="w-8 h-8 "/>
    </span>
</button>

@if (_snackbarMessage != null)
{
    <div class="fixed bottom-10 left-1/2 transform -translate-x-1/2 bg-red-600 text-white p-2.5 rounded-md">
        @_snackbarMessage
    </div>
}


@code {
    [CascadingParameter] private Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;

    [Parameter] public string FilterString { get; set; } = "";

    private readonly JoinEvent _joinEvent = new()
    {
        SelectOptions =
        [
            new() { VoteOption = "Kan ikke", Color = "gray-200" },
            new() { VoteOption = "Kan godt", Color = "success" },
            new() { VoteOption = "Hvis Nødvendigt (Klik to gange)", Color = "warning" }
        ],
        Deadline = DateTime.Today.AddDays(30)
    };

    private string? _snackbarMessage;

    private bool _hostCanAllShowtimes = true;

    private bool _loadingPage = true;
    private bool _loadingShowtimes = true;

    string _baseUrl = "";

    List<Showtime> _availableShowtimes = [];
    List<Movie> _moviesWithoutShowtimes = [];
    ICollection<ParticipantVote> _availableShowtimeVotes = []; //used to keep track of which showtimes are selected and not selected

    readonly List<SelectOption> _createSelectOptions = [new SelectOption { VoteOption = "Kan ikke", Color = "gray-200" }, new SelectOption { VoteOption = "Kan godt", Color = "success" }];
    const int NoVoteIndex = 0; //when you vote no
    const int YesVoteIndex = 1;

    //used for filters
    Dictionary<int, string> _movieIdsToNames = new();
    Dictionary<int, string> _cinemaIdsToNames = new();
    Dictionary<int, string> _genreIdsToNames = new();

    readonly HashSet<int> _selectedMovies = [];
    readonly HashSet<int> _selectedCinemas = [];
    readonly HashSet<int> _selectedGenres = [];

    private DateTime _startDate = DateTime.Today;
    private DateTime _endDate = DateTime.Today.AddDays(30);

    private bool _showAllFilters;

    private void ToggleFilters()
    {
        _showAllFilters = !_showAllFilters;
    }
    //filters end


    protected override async Task OnInitializedAsync()
    {
        _baseUrl = NavigationManager.BaseUri;
        _joinEvent.DefaultSelectOption = _joinEvent.SelectOptions[NoVoteIndex];

        var apiString = ParseFilterStringToKinoUrl(FilterString);

        if (_selectedCinemas.Count == 0 && _selectedMovies.Count == 0) //these are set by the ParseFilterString method
        {
            _loadingPage = false;
            return;
        }

        var client = new HttpClient();
        var json = await client.GetStringAsync(apiString);
        var apiResultObject = JsonConvert.DeserializeObject<Root>(json);
        if (apiResultObject is null) return;

        _cinemaIdsToNames = new Dictionary<int, string>();
        _movieIdsToNames = new Dictionary<int, string>();
        _genreIdsToNames = new Dictionary<int, string>();

        //get items for filter checklists
        foreach (var cinemaOption in apiResultObject.Content.Facets.Cinemas.Options)
        {
            _cinemaIdsToNames.Add(cinemaOption.Key, cinemaOption.Value);
        }

        foreach (var movieOption in apiResultObject.Content.Facets.Movies.Options)
        {
            _movieIdsToNames.Add(movieOption.Key, movieOption.Value);
        }

        foreach (var genreOption in apiResultObject.Content.Facets.Genres.Options)
        {
            _genreIdsToNames.Add(genreOption.Key, genreOption.Value);
        }

        //load all show times from filter
        (_availableShowtimes, _moviesWithoutShowtimes) = await GetShowtimesFromJsonResult(apiResultObject);

        _availableShowtimeVotes = _availableShowtimes.Select(s => new ParticipantVote { ShowtimeId = s.Id, SelectedOption = _createSelectOptions[NoVoteIndex] }).ToList();
        _loadingPage = false;
    }

    /**
     * <remarks>This will also set set the selected movies, cinemas etc used for the filters.</remarks>
     */
    private string ParseFilterStringToKinoUrl(string filterString)
    {
        var query = "?" + filterString;
        var queryParams = HttpUtility.ParseQueryString(query);

        var movieApiString = new StringBuilder();
        var cinemaApiString = new StringBuilder();
        var genreApiString = new StringBuilder();
        var dateApiString = new StringBuilder();

        var firstDate = true;

        //&movies=1&movies=2 -> &movies[0]=1&movies[1]=2
        foreach (var key in queryParams.AllKeys)
        {
            if (key == null) continue;
            var index = 0;
            foreach (var value in queryParams.GetValues(key)!)
            {
                switch (key)
                {
                    case "cinemas" when int.TryParse(value, out var cinemaId):
                        cinemaApiString.Append($"&cinemas[{index++}]={value}");
                        _selectedCinemas.Add(cinemaId);
                        break;
                    case "movies" when int.TryParse(value, out var movieId):
                        movieApiString.Append($"&movies[{index++}]={value}");
                        _selectedMovies.Add(movieId);
                        break;
                    case "genres" when int.TryParse(value, out var genreId):

                        genreApiString.Append($"&genres[{index++}]={value}");
                        _selectedGenres.Add(genreId);
                        break;
                    case "date" when DateTime.TryParse(value, out var parsedDate):
                        dateApiString.Append($"&date={value}");
                        if (firstDate)
                        {
                            _startDate = parsedDate.Date;
                            firstDate = false;
                        }
                        else
                        {
                            _endDate = parsedDate.Date.AddHours(23).AddMinutes(59);
                        }

                        break;
                }
            }
        }

        return "https://api.kino.dk/ticketflow/showtimes?sort=most_purchased" +
               movieApiString + cinemaApiString + genreApiString + dateApiString + "&region=content&format=json";
    }

    /**
     * <returns>
     * A tuple with: <br/>
     * Item1 = List of show times that the filter yielded<br/>
     * Item2 = Movies that were in the filter but had no show times
     * </returns>
     */
    private async Task<(List<Showtime>, List<Movie>)> GetShowtimesFromJsonResult(Root apiResultObject)
    {
        _loadingShowtimes = true;
        StateHasChanged();
        var showtimes = new List<Showtime>();
        var existingMovies = new Dictionary<int, Movie>(); //several cinemas may pose the same movie. No need to create the movie object every time

        foreach (var jsonCinema in apiResultObject.Content.Content.Content)
        {
            var cinemaObject = new Cinema
            {
                Id = jsonCinema.Id,
                Name = _cinemaIdsToNames[jsonCinema.Id]
            };

            foreach (var jsonMovie in jsonCinema.Movies.Where(jsonMovie => _movieIdsToNames.ContainsKey(jsonMovie.Id))) //if not contains key it is not a movie (there are events with different ids)
            {
                int.TryParse(jsonMovie.Content.FieldPlayingTime, out var duration);
                if (!existingMovies.TryGetValue(jsonMovie.Id, out var movieObject)) //use existing movie object or create new
                {
                    movieObject = new Movie
                    {
                        Id = jsonMovie.Id,
                        Title = _movieIdsToNames[jsonMovie.Id],
                        PremiereDate = jsonMovie.Content.FieldPremiere,
                        KinoURL = jsonMovie.Content.URL,
                        AgeRating = new AgeRating() { Censorship = jsonMovie.Content.FieldCensorshipIcon },
                        ImageUrl = jsonMovie.Content.FieldPoster.FieldMediaImage?.Sources?[0].Srcset,
                        Duration = duration,
                    };
                    existingMovies.Add(movieObject.Id, movieObject);
                }

                foreach (var jsonVersion in jsonMovie.Versions)
                {
                    if (jsonVersion.Label.ToLower().Contains("lukket forestilling"))
                    {
                        continue;
                    }

                    var versionObject = new VersionTag
                    {
                        Type = jsonVersion.Label
                    };

                    foreach (var jsonDate in jsonVersion.Dates)
                    {
                        foreach (var jsonShowtime in jsonDate.Showtimes.Where(s => s.AvailableSeats > 0))
                        {
                            var roomObject = new Room
                            {
                                Id = jsonShowtime.RoomContent.Id,
                                Name = jsonShowtime.RoomContent.Label
                            };

                            var dateString = jsonDate.Date + " " + jsonShowtime.Time;
                            var commaIndex = dateString.IndexOf(',');
                            if (commaIndex > 0)
                            {
                                dateString = dateString[(commaIndex + 2)..]; //"fre, 08/03" -> "08/03"
                            }

                            const string dateTimeFormat = "dd/MM HH:mm";

                            if (DateTime.TryParseExact(dateString, dateTimeFormat, CultureInfo.InvariantCulture, DateTimeStyles.None, out var dateTime))
                            {
                                //Couldn't get the api to filter on date. Do it manually
                                if (_startDate != DateTime.MinValue && dateTime < _startDate)
                                {
                                    continue;
                                }

                                if (_endDate != DateTime.MinValue && dateTime > _endDate)
                                {
                                    continue;
                                }
                            }

                            var playtimeObject = new Playtime
                            {
                                StartTime = dateTime
                            };

                            var showtimeObject = new Showtime
                            {
                                Id = jsonShowtime.Id,
                                Movie = movieObject,
                                Cinema = cinemaObject,
                                VersionTag = versionObject,
                                Room = roomObject,
                                Playtime = playtimeObject
                            };
                            showtimes.Add(showtimeObject);
                        }
                    }
                }
            }
        }

        //include movies that had no show times
        var filterString = new StringBuilder();
        var selectedMovieIds = _selectedMovies.ToList();
        var index = 0;
        foreach (var movieId in selectedMovieIds.Where(movieId => showtimes.All(f => f.Movie.Id != movieId)))
        {
            filterString.Append($"&movies[{index++}]={movieId}");
        }

        _loadingShowtimes = false;
        if (filterString.Length == 0) return (showtimes, []); //all movies had showtimes

        var apiString = "https://api.kino.dk/ticketflow/showtimes?sort=most_purchased" +
                        filterString + "&region=content&format=json";
        var httpClient = new HttpClient();
        var json = await httpClient.GetStringAsync(apiString);
        var root = JsonConvert.DeserializeObject<Root>(json);
        _loadingShowtimes = false;
        if (root == null) return (showtimes, []);

        List<Movie> missingMovies = [];
        foreach (var movie in root.Content.Content.Content.SelectMany(cinema => cinema.Movies
                     .Where(movie => missingMovies.All(m => m.Id != movie.Id))))
        {
            int.TryParse(movie.Content.FieldPlayingTime, out var duration);

            var movieObject = new Movie
            {
                Id = movie.Id,
                Title = _movieIdsToNames[movie.Id],
                PremiereDate = movie.Content.FieldPremiere,
                KinoURL = movie.Content.URL,
                AgeRating = new AgeRating() {Censorship = movie.Content.FieldCensorshipIcon},
                ImageUrl = movie.Content.FieldPoster.FieldMediaImage?.Sources?[0].Srcset,
                Duration = duration
            };
            missingMovies.Add(movieObject);
        }

        _loadingShowtimes = false;
        return (showtimes, missingMovies);
    }


    private async Task UpdateShowtimeFilters()
    {
        var movieIds = _selectedMovies.ToList();
        var cinemaIds = _selectedCinemas.ToList();
        var genreIds = _selectedGenres.ToList();
        var fromDate = _startDate.ToString("O");
        var toDate = _endDate.ToString("O");

        var filterStringBuilder = new StringBuilder("sort=most_viewed");

        foreach (var id in movieIds)
        {
            filterStringBuilder.Append($"&movies={id}");
        }

        foreach (var id in cinemaIds)
        {
            filterStringBuilder.Append($"&cinemas={id}");
        }

        foreach (var id in genreIds)
        {
            filterStringBuilder.Append($"&genres={id}");
        }

        filterStringBuilder.Append($"&date={fromDate}");
        filterStringBuilder.Append($"&date={toDate}");

        var newUrl = _baseUrl + "JoinCreate/" + filterStringBuilder;
        NavigationManager.NavigateTo(newUrl);

        _loadingShowtimes = true;
        var apiString = ParseFilterStringToKinoUrl(newUrl);
        var client = new HttpClient();
        var json = await client.GetStringAsync(apiString);
        var apiResultObject = JsonConvert.DeserializeObject<Root>(json);
        if (apiResultObject is null) return;
        (_availableShowtimes, _moviesWithoutShowtimes) = await GetShowtimesFromJsonResult(apiResultObject);
        _availableShowtimeVotes = _availableShowtimes.Select(s => new ParticipantVote { ShowtimeId = s.Id, SelectedOption = _createSelectOptions[NoVoteIndex] }).ToList();
    }

    private async Task OpenEventDetailsDialog()
    {
        if (_joinEvent.Showtimes.Count < 1)
        {
            _snackbarMessage = "Vælg mindst en mulig forestilling";
            await Task.Delay(3000).ContinueWith(_ => _snackbarMessage = null);
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("customFunctions.showDialog", "eventDetailsDialog");
        }
    }

    private async Task ShareEvent()
    {
        var data = new
        {
            title = _joinEvent.Title,
            text = _joinEvent.Description,
            url = _baseUrl + "filling/" + _joinEvent.Id
        };

        await JsRuntime.InvokeVoidAsync("navigator.share", data);
    }

    private async Task ValidateAndOpenConfirmationDialog()
    {
        if (_joinEvent.Showtimes.Count < 1)
        {
            _snackbarMessage = "Vælg mindst en mulig forestilling";
            await Task.Delay(3000).ContinueWith(_ => _snackbarMessage = null);
        }
        else if (string.IsNullOrEmpty(_joinEvent.Title.Trim()))
        {
            _snackbarMessage = "Eventet skal have en titel";
            await Task.Delay(3000).ContinueWith(_ => _snackbarMessage = null);
        }
        else if (_joinEvent.Deadline < DateTime.Now)
        {
            _snackbarMessage = "Deadline skal være i fremtiden";
            await Task.Delay(3000).ContinueWith(_ => _snackbarMessage = null);
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("customFunctions.showDialog", "eventConfirmDialog");
        }
    }

    private async Task FinishJoinEvent()
    {
        var authenticationState = await AuthenticationStateTask;

        var user = authenticationState.User;

        var authorId = user.Claims.FirstOrDefault(c => c.Type == "sub")?.Value!;
        var name = user.Claims.FirstOrDefault(c => c.Type == "nickname")?.Value!;
        var email = user.Claims.FirstOrDefault(c => c.Type == "email")?.Value;

        var host = new Host();
        if (user.Identity is null || !user.Identity.IsAuthenticated)
        {
            host.AuthId = "1";
            host.Username = "Ukendt vært";
        }
        else
        {
            host.AuthId = authorId;
            host.Username = name;
            host.Email = email;
        }

        _joinEvent.Host = host;

        if (_hostCanAllShowtimes)
        {
            _joinEvent.Participants.Add(new Participant
            {
                AuthId = host.AuthId,
                Nickname = host.Username, Email = host.Email, Note = null,
                VotedFor = _joinEvent.Showtimes.Select(s => new ParticipantVote { ShowtimeId = s.Id, SelectedOption = _joinEvent.SelectOptions[YesVoteIndex] }).ToList(),
                JoinEventId = _joinEvent.Id
            });
        }

        var response = await JoinEventHttpClient.PutJoinEventAsync(_joinEvent);
        var id = await response.Content.ReadAsStringAsync();

        _joinEvent.Id = int.Parse(id);

        await JsRuntime.InvokeVoidAsync("customFunctions.hideDialog", "eventDetailsDialog");
        await JsRuntime.InvokeVoidAsync("customFunctions.hideDialog", "eventConfirmDialog");
        await JsRuntime.InvokeVoidAsync("customFunctions.showDialog", "eventShareDialog");
    }

    private void OnVoteChange(ICollection<ParticipantVote> votes)
    {
        _availableShowtimeVotes = votes;
        //Save all show times, where voted yes
        _joinEvent.Showtimes = votes.Where(v => v.SelectedOption.VoteOption == _createSelectOptions[YesVoteIndex].VoteOption)
            .Join(_availableShowtimes, v => v.ShowtimeId, s => s.Id,
                (_, showtime) => showtime).ToList();
    }

}